/* Fonts */

/* <uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 200 to 1000 */

.nunito-sans-nav-bar {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

/* Header */

header {
  display: flex;
  align-items: center;
  background-color: #1a1a1a;
  padding: 10px 20px;
  color: white;
}

.logo img {
  height: 40px;
}

.hamburger-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu button {
  margin-left: 20px;
  font-size: 24px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
}

.search-bar input {
  width: 100%;
  padding: 5px;
  border-radius: 4px;
  border: none;
}

.navigation-links ul {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navigation-links a {
  color: white;
  text-decoration: none;
}

.navigation-links a:hover {
  color: yellow;
  text-decoration: underline;
}

.user-options a {
  color: white;
  text-decoration: none;
}

.user-options a:hover {
  color: yellow;
  text-decoration: underline;
}

#pro-button-header {
  margin-right: 10px;
}

.spacer {
  margin: 0 10px;
}

/* Main */

#carouselExampleCaptions {
}

/* main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.content {
  flex: 3;
  padding-right: 20px;
}
.sidebar {
  flex: 1;
  padding-left: 20px;
  border-left: 1px solid #ccc;
} */

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-top: 1px solid #ccc;
}
.social-media a {
  margin: 0 10px;
}
.social-media img {
  width: 32px;
  height: 32px;
}
.auth-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
}
